* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.app {
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

header {
    text-align: left;
    margin: 50px 50px 50px 0;
}

header h1 {
    font-size: calc(40px + 1vw);
}

header p {
    font-size: calc(16px + 1vw);
}

.iphone {
    background: linear-gradient(to bottom right, #00ffdd, #009b86, #00463c);
    height: 700px;
    width: 380px;
    border: 8px solid #000;
    border-radius: 35px;
    z-index: 11;
    overflow-y: scroll;
}

.speaker {
    position: sticky;
    top: 0;
    width: 220px;
    height: 28px;
    margin: 0 auto;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    background-color: #000;
}

.pad {
    width: 100%;
    text-align: left;
}

.pad:hover {
    width: 120%;
}

img {
    width: 50%;
    height: auto;
}

@keyframes jump {
    0% {
        bottom: 0%;
        left: 20%;
    }
    50% {
        bottom: 50%;
        left: 50%;
    }
    100% {
        bottom: 0%;
        left: 80%;
    }
}