* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.background {
    background-size: cover;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.app {
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px;
    width: 80px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 50px 50px 50px 50px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    padding: 25px;
    width: 500px;
}

header small {
    color: #fff;
    margin-top: 25px;
}

header h1 {
    font-size: calc(40px + 1vw);
    color: #fff;
}

header p {
    font-size: calc(16px + 1vw);
    color: #fff;
}

.display-screen {
    width: 100%;
    height: auto;
    margin: 25px 0;
}

.iphone {
    background: linear-gradient(to bottom right, #ffffff, rgb(122, 122, 122), #000);
    /*background: linear-gradient(to bottom right, #00ffdd, #007a6a, #00463c);*/
    height: 700px;
    width: 380px;
    border: 8px solid #000;
    border-radius: 35px;
    z-index: 11;
    overflow-y: scroll;
}

.speaker {
    position: sticky;
    top: 0;
    width: 220px;
    height: 28px;
    margin: 0 auto;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    background-color: #000;
    z-index: 10;
}

.display-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.controls {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.controls button {
    background: transparent;
    border: none;
    outline: none;
}

.controls button:active {
    transform: translateY(3%);
}

.controls button img {
    width: 45px;
    margin: 0 auto;
}

.screen {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    height: 615px;
    z-index: 12;
    overflow-y: scroll;
    margin: 20px 25px 0 25px;
}

.playist-info {
    background: #000;
    width: 100%;
    position: sticky;
    top: 0;
    text-align: center;
    z-index: 8;
}

.pad {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
}

.pad img {
    position: relative;
    width: 120px;
    height: auto;
    border-radius: 15px;
}

.song-title {
    width: 100%;
    margin: 0 25px;
}

h2 {
    font-size: 30px;
    color: #fff;
}

h3 {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}

h4 {
    font-size: 14px;
    color: #fff;
    font-weight: 400;
}

@keyframes jump {
    0% {
        bottom: 0%;
        left: 20%;
    }
    50% {
        bottom: 50%;
        left: 50%;
    }
    100% {
        bottom: 0%;
        left: 80%;
    }
}